{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>开始使用layui</title>
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
</head>
<body>

<!--&lt;!&ndash; 你的HTML代码 &ndash;&gt;-->

<!--<script src="{% static 'layui/layui.js' %}"></script>-->
<!--<script>-->
<!--//一般直接写在一个js文件中-->
<!--layui.use(['layer', 'form'], function(){-->
  <!--var layer = layui.layer-->
  <!--,form = layui.form;-->

  <!--layer.msg('Hello World');-->
<!--});-->
<!--</script>-->
<form class="layui-form" method="POST" action="/account/login/">
  {% csrf_token %}
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-inline">
      <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline">
      <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">请务必填写用户名</div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>

</body>
</html>